In [3]:
# from google.colab import files
# uploaded = files.upload()
import pandas as pd
data = pd.read_csv('../data/ner_dataset.csv', encoding= 'unicode_escape')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [4]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok
token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [10]:
data

          Sentence #           Word  POS Tag  Word_idx  Tag_idx
0        Sentence: 1      Thousands  NNS   O     16196        4
1                NaN             of   IN   O      9745        4
2                NaN  demonstrators  NNS   O      8560        4
3                NaN           have  VBP   O     34248        4
4                NaN        marched  VBN   O      1832        4
...              ...            ...  ...  ..       ...      ...
1048570          NaN           they  PRP   O     14244        4
1048571          NaN      responded  VBD   O      1899        4
1048572          NaN             to   TO   O     17877        4
1048573          NaN            the   DT   O      2602        4
1048574          NaN         attack   NN   O     33645        4

[1048575 rows x 6 columns]

In [13]:
token2idx['Thousands']

16196

In [12]:
data['Word']

0              Thousands
1                     of
2          demonstrators
3                   have
4                marched
               ...
1048570             they
1048571        responded
1048572               to
1048573              the
1048574           attack
Name: Word, Length: 1048575, dtype: object

In [11]:
data['Word'].map(token2idx)

0          16196
1           9745
2           8560
3          34248
4           1832
           ...
1048570    14244
1048571     1899
1048572    17877
1048573     2602
1048574    33645
Name: Word, Length: 1048575, dtype: int64

In [8]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)
data_fillna = data.fillna(method='ffill', axis=0)
# Groupby and collect columns
data_group = data_fillna.groupby(
['Sentence #'],as_index=False
)['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))

/var/folders/5v/hcv2lxzx24j5zlc6_djh7wx00000gr/T/ipykernel_32610/1322379973.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_group = data_fillna.groupby(

In [9]:
data_group

,Sentence #,Word,POS,Tag,Word_idx,Tag_idx
0,Sentence: 1,"[Thousands, of, demonstrators, have, marched, ...","[NNS, IN, NNS, VBP, VBN, IN, NNP, TO, VB, DT, ...","[O, O, O, O, O, O, B-geo, O, O, O, O, O, B-geo...","[16196, 9745, 8560, 34248, 1832, 6018, 15824, ...","[4, 4, 4, 4, 4, 4, 14, 4, 4, 4, 4, 4, 14, 4, 4..."
1,Sentence: 10,"[Iranian, officials, say, they, expect, to, ge...","[JJ, NNS, VBP, PRP, VBP, TO, VB, NN, TO, JJ, J...","[B-gpe, O, O, O, O, O, O, O, O, O, O, O, O, O,...","[26661, 1914, 4743, 14244, 35033, 17877, 6803,...","[10, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,..."
2,Sentence: 100,"[Helicopter, gunships, Saturday, pounded, mili...","[NN, NNS, NNP, VBD, JJ, NNS, IN, DT, NNP, JJ, ...","[O, O, B-tim, O, O, O, O, O, B-geo, O, O, O, O...","[33069, 33114, 11248, 3297, 31731, 20289, 7362...","[4, 4, 6, 4, 4, 4, 4, 4, 14, 4, 4, 4, 4, 4, 12..."
3,Sentence: 1000,"[They, left, after, a, tense, hour-long, stand...","[PRP, VBD, IN, DT, NN, JJ, NN, IN, NN, NNS, .]","[O, O, O, O, O, O, O, O, O, O, O]","[3797, 33214, 30406, 28359, 22692, 26987, 5530...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]"
4,Sentence: 10000,"[U.N., relief, coordinator, Jan, Egeland, said...","[NNP, NN, NN, NNP, NNP, VBD, NNP, ,, NNP, ,, J...","[B-geo, O, O, B-per, I-per, O, B-tim, O, B-geo...","[11802, 11647, 31955, 34317, 2945, 10226, 1276...","[14, 4, 4, 9, 16, 4, 6, 4, 14, 4, 10, 4, 10, 4..."
...,...,...,...,...,...,...
47954,Sentence: 9995,"[Opposition, leader, Mir, Hossein, Mousavi, ha...","[NNP, NN, NNP, NNP, NNP, VBZ, VBN, PRP, VBZ, T...","[O, O, O, B-per, I-per, O, O, O, O, O, O, O, O...","[8280, 12262, 14341, 15616, 16028, 33539, 1022...","[4, 4, 4, 9, 16, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,..."
47955,Sentence: 9996,"[On, Thursday, ,, Iranian, state, media, publi...","[IN, NNP, ,, JJ, NN, NNS, VBN, DT, NN, IN, DT,...","[O, B-tim, O, B-gpe, O, O, O, O, O, O, O, O, B...","[32850, 6434, 33219, 26661, 30327, 10612, 8675...","[4, 6, 4, 10, 4, 4, 4, 4, 4, 4, 4, 4, 12, 15, ..."
47956,Sentence: 9997,"[Following, Iran, 's, disputed, June, 12, elec...","[VBG, NNP, POS, JJ, NNP, CD, NNS, ,, NNS, NNS,...","[O, B-geo, O, O, B-tim, I-tim, O, O, O, O, O, ...","[29093, 21660, 27000, 11970, 13915, 24764, 789...","[4, 14, 4, 4, 6, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4,..."
47957,Sentence: 9998,"[Since, then, ,, authorities, have, held, publ...","[IN, RB, ,, NNS, VBP, VBN, JJ, NNS, IN, DT, VB...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[14783, 10585, 33219, 19611, 34248, 17144, 226...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ..."
47958,Sentence: 9999,"[The, United, Nations, is, praising, the, use,...","[DT, NNP, NNP, VBZ, VBG, DT, NN, IN, JJ, NNS, ...","[O, B-org, I-org, O, O, O, O, O, O, O, O, O, O...","[25419, 16405, 28458, 1976, 28574, 2602, 8995,...","[4, 12, 15, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4..."